@import './markdown.css';
html {
font-size:4px;
}
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
.van-tabbar{
  background-color:#130021 !important;
}
.van-tabbar-item--active {
  background-color:#130021 !important;
}

:root:root {
  --van-switch-on-background:linear-gradient(232deg, #4D09C1 0%, #7F04BA 47%,#D016C8  100%)
}
:root:root {
  --van-picker-background:#130021
}
:root:root {
  --van-picker-mask-color:transparent
}
:root:root {
  --van-picker-confirm-action-color:#fff
}
:root:root {
  --van-picker-option-text-color:#fff
}
:root:root {
  --van-nav-bar-background:#130021
}
:root:root {
  --van-grid-item-content-background:transparent
}
:root:root {
  --van-grid-item-content-padding:0
}
:root:root {
  --van-border-color:#B25BFF
}
:root:root {
  --van-border-width:0.5rem
}

.van-nav-bar{
    padding-top:10rem
}




